.productCardContainer {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  width: calc(
    25% - 20px
  ); /* 25% para 4 productos por fila, y ajuste para márgenes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productCardContainer:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.productName {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.productCategory {
  font-size: 1rem;
  color: #777;
}

.productPrice {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}
