/* SelectedType.module.css */

.container {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.divContainer {
  display: flex;
  flex-direction: column;
}

.buttonContainer {
  margin-top: 20px;
}

.button {
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
}

.buttonDisabled {
  opacity: 0.5;
  cursor: not-allowed;
}
